<div class="flex flex-col w-screen h-screen">
  <div class="flex w-full h-auto flex-shrink-0">
    <header class="relative w-full bg-white">
      <p
        class="flex h-10 items-center justify-center bg-indigo-600 px-4 text-sm font-medium text-white sm:px-6 lg:px-8"
      >
        dcupl - transfermarkt demo
      </p>
    </header>
  </div>

  <div class="flex flex-col w-full h-full overflow-auto">
    <main
      class="flex flex-col w-full h-full mx-auto max-w-7xl px-4 sm:px-6 lg:px-8"
    >
      <div
        class="flex items-baseline justify-between border-b border-gray-200 pt-8 pb-6"
      >
        <h1 class="text-base font-normal tracking-tight text-gray-900">
          There are
          <span class="font-bold" *ngIf="meta">
            {{ meta.currentSize }}
          </span>
          Players <br />
          with a total market value of

          <span class="font-bold" *ngIf="meta">
            {{ aggregate.value.sum | currency: "£" }}
          </span>
        </h1>

        <div class="flex items-center">
          <app-applied-filters-bar
            [list]="playersList"
            [meta]="meta"
          ></app-applied-filters-bar>
        </div>

        <div class="flex items-center">
          <div class="mr-2">
            <select (change)="itemCountChanged($event)" class="app-select">
              <option value="20" selected>20</option>
              <option value="100">100</option>
              <option value="1000">1000</option>
            </select>
          </div>
          <div>
            <select (change)="sortChanged($event)" class="app-select">
              <option value="" selected>Default sort</option>
              <option value="pretty_name">Name: A-Z</option>
              <option value="market_value_in_gbp">Value: high to low</option>
            </select>
          </div>

          <button
            type="button"
            class="-m-2 ml-5 p-2 text-gray-400 hover:text-gray-500 sm:ml-7"
            (click)="toggleDisplay()"
          >
            <span class="sr-only">View grid</span>
            <!-- Heroicon name: mini/squares-2x2 -->
            <svg
              class="h-5 w-5"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path
                fill-rule="evenodd"
                d="M4.25 2A2.25 2.25 0 002 4.25v2.5A2.25 2.25 0 004.25 9h2.5A2.25 2.25 0 009 6.75v-2.5A2.25 2.25 0 006.75 2h-2.5zm0 9A2.25 2.25 0 002 13.25v2.5A2.25 2.25 0 004.25 18h2.5A2.25 2.25 0 009 15.75v-2.5A2.25 2.25 0 006.75 11h-2.5zm9-9A2.25 2.25 0 0011 4.25v2.5A2.25 2.25 0 0013.25 9h2.5A2.25 2.25 0 0018 6.75v-2.5A2.25 2.25 0 0015.75 2h-2.5zm0 9A2.25 2.25 0 0011 13.25v2.5A2.25 2.25 0 0013.25 18h2.5A2.25 2.25 0 0018 15.75v-2.5A2.25 2.25 0 0015.75 11h-2.5z"
                clip-rule="evenodd"
              />
            </svg>
          </button>
          <button
            type="button"
            class="-m-2 ml-4 p-2 text-gray-400 hover:text-gray-500 sm:ml-6 lg:hidden"
          >
            <span class="sr-only">Filters</span>
            <!-- Heroicon name: mini/funnel -->
            <svg
              class="h-5 w-5"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path
                fill-rule="evenodd"
                d="M2.628 1.601C5.028 1.206 7.49 1 10 1s4.973.206 7.372.601a.75.75 0 01.628.74v2.288a2.25 2.25 0 01-.659 1.59l-4.682 4.683a2.25 2.25 0 00-.659 1.59v3.037c0 .684-.31 1.33-.844 1.757l-1.937 1.55A.75.75 0 018 18.25v-5.757a2.25 2.25 0 00-.659-1.591L2.659 6.22A2.25 2.25 0 012 4.629V2.34a.75.75 0 01.628-.74z"
                clip-rule="evenodd"
              />
            </svg>
          </button>
        </div>
      </div>

      <section
        aria-labelledby="products-heading"
        class="flex flex-row w-full h-full pt-6"
      >
        <!-- Filters -->

        <div
          class="hidden sm:flex w-60 h-full flex-shrink-0 overflow-auto mr-8"
        >
          <app-filter-bar
            [list]="playersList"
            [filterItems]="filterItems"
          ></app-filter-bar>
        </div>
        <div
          class="flex flex-col w-full h-full overflow-visible"
          *ngIf="displayMode === 'table'"
        >
          <app-player-table [players]="players"></app-player-table>
        </div>
        <!-- Product grid -->
        <div
          class="flex flex-col w-full h-full overflow-auto md:overflow-visible"
          *ngIf="displayMode === 'grid'"
        >
          <div
            class="grid grid-cols-2 gap-y-10 gap-x-6 sm:grid-cols-3 lg:grid-cols-5 lg:col-span-3 lg:gap-x-8 pb-16"
          >
            <app-player-card
              [player]="player"
              *ngFor="let player of players"
            ></app-player-card>
          </div>
        </div>
      </section>
    </main>
  </div>
</div>
