<div
  class="border-b border-gray-200 py-6 w-full"
  *ngFor="let filterItem of filterItems; trackBy: trackByKey; let idx = index"
>
  <h3 class="-my-3 flow-root w-full">
    <!-- Expand/collapse section button -->
    <button
      type="button"
      class="flex w-full items-center justify-between bg-white py-3 text-sm text-gray-400 hover:text-gray-500"
      aria-controls="filter-section-0"
      aria-expanded="false"
      (click)="toggle(idx)"
    >
      <span class="font-medium text-gray-900">
        {{ filterItem.key }}
      </span>
      <span class="ml-6 flex items-center">
        <svg
          class="h-5 w-5"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
          fill="currentColor"
          aria-hidden="true"
          *ngIf="!isExpanded(idx)"
        >
          <path
            d="M10.75 4.75a.75.75 0 00-1.5 0v4.5h-4.5a.75.75 0 000 1.5h4.5v4.5a.75.75 0 001.5 0v-4.5h4.5a.75.75 0 000-1.5h-4.5v-4.5z"
          />
        </svg>
        <svg
          class="h-5 w-5"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
          fill="currentColor"
          aria-hidden="true"
          *ngIf="isExpanded(idx)"
        >
          <path
            fill-rule="evenodd"
            d="M3 10a.75.75 0 01.75-.75h10.5a.75.75 0 010 1.5H3.75A.75.75 0 013 10z"
            clip-rule="evenodd"
          />
        </svg>
      </span>
    </button>
  </h3>
  <!-- Filter section, show/hide based on section state. -->
  <div class="pt-6 w-full overflow-hidden" *ngIf="isExpanded(idx)">
    <div class="">
      <div class="flex items-center">
        <ng-container *ngIf="filterItem.type === 'text'">
          <app-filter-text
            [list]="list"
            [filterItem]="filterItem"
          ></app-filter-text>
        </ng-container>
        <ng-container *ngIf="filterItem.type === 'reference'">
          <app-filter-reference
            [list]="list"
            [filterItem]="filterItem"
          ></app-filter-reference>
        </ng-container>
        <ng-container *ngIf="filterItem.type === 'date'">
          <app-filter-date
            [list]="list"
            [filterItem]="filterItem"
          ></app-filter-date>
        </ng-container>
        <ng-container *ngIf="filterItem.type === 'number'">
          <app-filter-number
            [list]="list"
            [filterItem]="filterItem"
          ></app-filter-number>
        </ng-container>


      </div>
    </div>
  </div>
</div>
