<div class="w-full h-screen">
  <div *ngIf="isLoading" class="w-full h-full flex items-center justify-center">
    <div class="lds-ring">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
  <div class="h-full w-full flex items-center justify-center text-center" *ngIf="hasError">
    <div>
      <h2 class="text-2xl mb-2">Uups... there's something wrong</h2>
      <p>Please check your chrome console for further informations</p>
    </div>
  </div>
  <div *ngIf="!isLoading && !hasError" class="w-full h-full">
    <router-outlet></router-outlet>
  </div>
</div>
